* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto Slab', serif;
    box-sizing: border-box;
    outline: none;
}

body {
    background-image: url(./assets/backgroun11.png.jpg);
    background-size: cover;
    aspect-ratio: 2;
    background-position: center bottom;

}


main {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-top: 110px;
    margin-left: 250px;
    border-radius: 4px;

}


.labels-display {
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 40px;
    padding: 10px;
    font-weight: 300;
    font-size: 22px;
    line-height: 25px;
    color: #FFFFFF;


}

select,
input {
    background: #3252aafd;
    border: 1px solid #3252aafd;
    border-radius: 10px;
    font-weight: 300;
    font-size: 20px;
    line-height: 18px;
    color: #FFFFFF;
    height: 48px;
    cursor: pointer;
    border-radius: 20px;
    margin-top: 20px;
    margin-left: 0px;
    margin-bottom: 64px;
    padding: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 400px;
    border: 1px solid;
    border-color: #FFFFFF;
}

button {
    background: #3252aafd;
    border-radius: 25px;
    width: 200px;
    height: 70px;
    font-weight: 300;
    font-size: 20px;
    line-height: 18px;
    display: inline-flex;
    color: #FFFFFF;
    border: none;
    cursor: pointer;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-right: 150px;
    margin-left: 70px;
    border: 1px solid;
    border-color: #FFFFFF;
}

section {
    border: 5px solid #3252aafd;
    border-radius: 20px;
    font-size: 17px;
    padding: 20px;
    display: flex;
    align-items: center;
    align-content: center;
    width: auto;
    height: 170px;
    margin-right: 25px;
    color: #FFFFFF;
    background-color: #3252aafd;
    border: 1px solid;
    border-color: #FFFFFF;
}


.currency-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
}

.currency {
    color: #FFFFFF;
    font-weight: 400;
    font-size: 24px;
    line-height: 18px;
}

.currency-value,
.currency-value-to-convert {
    font-weight: 400;
    font-size: 20px;
    line-height: 18px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
}



.arrow {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    font-size: 40px;
    margin: 0 auto;
       transform: rotate(-90deg);
        -webkit-transform: rotate(-90deg);
        margin-right: 5px;
}

input {
    color: #FFFFFF;
}

















@media screen and (max-width: 1600px) {

    body {
        background-image: url(./assets/backgroun11.png.jpg);
        background-size: cover;
        aspect-ratio: 1.1;
        background-position: center bottom;
    }
    

    main {
        width: 100%;
        margin: auto;
        padding: 44px 24px 23px;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: flex-start;
        align-content: center;
        background-repeat: repeat-y;
        font-size: 20px;
    }

    .labels-display {
        font-size: 20px;
        line-height: 14px;
        width: auto;
        height: auto;
        margin-left: 5px;
    }

    section {
        margin-top: 35px;
        margin-left: auto;
        margin-right: auto;
        font-size: 16px;
        width: auto;
        height: 110px;
    }

    select,
    input {
        font-size: 18px;
        line-height: 14px;
        width: 120%;
        height: auto;
        margin-top: 20px;
        margin-left: 0px;
        margin-bottom: 24px;
    }

    button {
        font-size: 16px;
        margin-left: 85px;
        margin-right: 10px;
        width: 150px;
        height: 50px;
    }

    .arrow {
        transform: rotate(-90deg);
        -webkit-transform: rotate(-90deg);
        margin-right: 5px;
    }

}